.header {
background-color:dodgerblue;
padding: 20px;
padding-bottom: 0;
margin-bottom: 0;
}

.main {
padding: 20px;
background-color: rgb(253, 244, 76);
}

.main-content {
display: flex;
}

body {
margin: 0;
}

.side-nav {
padding: 20px;
background-color: rgb(156, 156, 156);
margin-right: 20px;
}

.footer {
background-color:rgb(214, 46, 40);
}